.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.login-butt{
  margin-right: 10px;
  background-color: #282c34; 
  color: white;
}

.signup-butt{
  margin-left: 10px;
  background-color: #282c34; 
  color: white;
}

.create-butt{
  background-color: #282c34; 
  color: white;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  bottom: 100;
}

.social-links i {
  color: black;
  font-size: 2.3em;
  padding: 8px;
}
