*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.signup-textbox {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(213, 157, 111, 0.801), rgba(180, 73, 40, 0.801)), url(./images/background1.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  position: relative; }

.signup-title{
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
}

.signup-form{
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.register{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
  border:0;
  transition: all .2s;
}

.register:hover{
  color: rgba(180, 73, 40, 0.801);
  transform: translateY(-3px);
}

.register:active{
  transform: translateY(-3px);
}