*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.signup-textbox {
    position: relative; }

.signup-title{
  color: #282c34;;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
  font-family: "Indie Flower";
}

.signup-form{
  text-align: center;
  color: #282c34;;
  text-transform: uppercase;
  font-family: "Indie Flower";
}

.secu-ques{
  font-size: 1.5em;
  font-family: "Indie Flower";
  font-weight: 400;
}

.register{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #282c34;
  border:0;
  transition: all .2s;
  color: whitesmoke;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.register:hover{
  transform: translateY(-3px);
}

.register:active{
  transform: translateY(-3px);
}