*{
  body:0;
  padding:0;
  box-sizing: border-box;
}

.successful-textbox{
  height: 95vh;
  background-image: linear-gradient(to left, rgba(210, 111, 213, 0.774), rgba(180, 40, 157, 0.801)), url(../src/images/resultsbackground.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  position: relative; 
}

.sucessful-form{
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.sucessful-title{
  padding-top: 100px;
  font-weight: 200;
  letter-spacing: 2px;
}

.return{
  color: black;
  margin-top: 200px;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: white;
  border: 0;
  transition: all .2s;
}

.return:hover{
  color:  rgba(180, 40, 157, 0.801);
  transform: scale(1.5);
  transform: translateY(-4px);
}

.return:active{
  transform: translateY(-0.5px);
}