<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readit</title>
</head>
<body>
    <h1 id = "username"></h1>
    <div>
        <h2>Hello there!, <%= usernameplaceholder %></h2>

        <!-- Search operations to be determined -->
        <form action="toBeDetermined" method="POST">
                <input type="text" name="search" required> </br>
                <input type="submit" value='Search'>
        </form>

        </form>
    </div>
</body>
</html>