<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readit</title>
</head>
<body>
    <div>
        <h3><i>You are successfully registered. Please return to login page by clicking below: </i></h3>
        <form action="returnToLogin" method="GET">
            <input type="button" value="Return to LogIn" onclick="window.location.href='/'">
        </form>

    </div>
</body>
</html>